@charset "ISO-8859-1";

.Container
{
	margin-top:20px;
	width:300px;
	height:200px;
	border: 5px solid #009900;
}
.ContainerAfterOtp
{
	margin-top:20px;
	width:500px;
	height:300px;
	border: 6px solid black;
}
.ContainerNumber
{
	margin-top:20px;
}
.ContainerPerviousPassword
{
	margin-top:20px;
}
.ContainerNewPassword
{
	margin-top:20px;
}
.ContainerConfrimPassword
{
	margin-top:20px;
}
.ContainerSubmit
{
	margin-top:20px;
}