 @charset "ISO-8859-1";

.Container
{
	margin-top:20px;
	width:300px;
	height:510px;
	text-align:center;
	border: 5px solid #009900;
	background-color:#009900;
}
.Login
{
	margin-top:10px;
	color:white;
	display: -ms-flexbox; /* IE10 */
    display: flex;
}
.fa-user
{
	color:white;
	padding:12px;
	background:#003300;
	margin-left:10px;
}
.login1
{
	width:250px;
	height:39px;
}
.Password
{
	margin-top:10px;
	color:white;
	display: -ms-flexbox; /* IE10 */
    display: flex;
	position:relative;
}
.password1
{
	width:250px;
	height:39px
}
.fa-envelope
{
	color:white;
	padding:10px;
	background:#003300;
	margin-left:10px;
}
.fa-eye
{
	position:absolute;
	margin-top:10px;
	margin-left:270px;
}
.Loginbtn
{
	margin-top:10px;
}
.fafa
{
	margin-top:10px;
	font-size:100px;
	color:#003300;
}
.fa-user-circle
{
	color:white;
}
.submit
{
	color:#99ff66;
}
.Loginbtn1
{
	
  width: 250px;
  height:39px;
  border:none;
  background-color:#003300;
  margin-left:10px; 
  cursor: pointer;
  color:white
}
.LoginbtnThroughSms
{
	margin-top:10px;	
}
.Signinbtn
{
	margin-left:200px;
}
.SignUp
{
    border:3px solid #009900;	
	color:white;
	text-decoration:none;
}
.ForgotPassword
{
	margin-top:10px;
}
.ForgotPassword1
{	
    font-size:12px;
    width:100%;
	color:white;
}
.facebook
{
	margin-top:30px;
}
}
.google
{
	mrgin-left:100px;
}
.MainContainer{
	
}
.Container1ImgContent{	
	margin-top:100px;
	margin-left:300px;
	float:left;
}
#ContainerImg{
	height:400px;
	width:400px;
}
.Container2{
	margin-top:98px;
	height:400px;
	width:400px;
	border-bottom:2px solid skyblue;
	border-right:2px solid skyblue;
	border-left:none;
	border-top:2px solid skyblue;
	float:left;
	background-color:white;			
}
.Container2Username{
	margin-top:0px;
}
.Container2Username1{
	border-bottom: 2px solid black;
	border-left:none;
	border-top:none;
	border-right:none;
	width:255px;
	height:30px;	
}
.Container2Password1{
margin-top:0px;
}
.Container2Password1{
	border-bottom: 2px solid black;
	border-left:none;
	border-top:none;
	border-right:none;
	width:255px;
	margin-top:10px;
	height:30px;
}	
.fa-eye{	
	position:absolute;
	margin-top:15px;
	margin-left:230px;
}
.Container2ForgotPassword{
	margin-left:170px;
	margin-top:10px;
	font-size:12px;
}
.Container2ForgotPassword1{
	text-decoration:none;
}
.Container2Loginbtn{
	margin-top:10px;
    margin-left:20px;	
}
.Container2Loginbtn1
{
	height:26px;
	width:100px;
	background-color:skyblue;
	border:none;
	border-radius: 10px 10px;
}
.Container2fb{
	margin-top:10px;
	margin-left:50px;
}
.Container2Content{
	color:gary;
}
.LoginbtnThroughOTP
{
	margin-top:10px;
}
	