@charset "ISO-8859-1";
body  {
  background-image: url("images\2.jpg");
}
.MainContainer{
	
}
.Container1ImgContent{	
	margin-top:100px;
	margin-left:300px;
	float:left;
	box-shadow:20px 20px 20px ; 
}
#ContainerImg{
	height:400px;
	width:400px;
}
.Container2{
	margin-top:100px;
	margin-left:500px;
	height:400px;
	width:400px;
	border-bottom:2px solid black;
	border-right:2px solid black;
	border-left:none;
	border-top:2px solid black;	
	background-color:black;	
	box-shadow:20px 20px 20px ;
	opacity:0.5; 
				
}
.Container2Username{
	margin-top:0px;
}
.Container2Username1{
	border-bottom: 2px solid black;
	border-left:none;
	border-top:none;
	border-right:none;
	width:255px;
	height:30px;	
}
.Container2Password1{
margin-top:0px;
}
.Container2Password1{
	border-bottom: 2px solid black;
	border-left:none;
	border-top:none;
	border-right:none;
	width:255px;
	margin-top:10px;
	height:30px;
}	
.fa-eye{	
	position:absolute;
	margin-top:15px;
	margin-left:230px;
}
.Container2ForgotPassword{
	margin-left:170px;
	margin-top:10px;
	font-size:12px;
}
.Container2ForgotPassword1{
	text-decoration:none;
}
.Container2Loginbtn{
	margin-top:10px;
    margin-left:0px;	
}
.Container2Loginbtn1
{
	height:30px;
	background-color:#428BCA;
	border-radius: 10px 10px;
	border:none;
	width:260px;
	color:white;
}
.Container2fb{
	margin-top:10px;
	margin-left:50px;
}
.Container2Content{
	margin-left:5px;
	margin-top:40px;
	color:gary;
}
.Container2Loginbtn1:hover{
	background-color: skyblue;
}
.Container2LoginbtnThroughOTP{
	margin-top:10px;
}
a:hover{
	background-color: skyblue;
}
.Container2LoginbtnThroughOTP1{
	border:none;
	height:30px;
	width:0px;
	border-radius: 10px 10px;
	background-color:#ffb899;
	color:white;
}
.Container2Signinbtn{
	margin-top:20px;
	margin-left:300px;
}
}
	
	