@charset "ISO-8859-1";
.body
{
	background-color:#b1f39f;
}
.MainContainerContent
{
	float:left;
	color:white;
}
.fa-arrow-down
{
	margin-left:330px;
	margin-top:200px;
}
.MainContainerContentContent
{
	margin-left:300px;
	margin-top:50px;
	font-size:40px;
}
.Container
{
	margin-top:100px;
	margin-right:180px;
	border:1px solid gray;
	height:400px;
	width:600px;
	text-align:center;
	border-top-left-radius: 500px ;
	border-bottom-left-radius: 500px ;
	background-color:white;
	float:right;
}
.ContainerHeadingName
{
	color:#cc0066;
}
.ContainerField
{
    margin-top:10px;
}
.ContainerFirstname
{
	width:350px;
	height:25px;
}
.ContainerEmailId
{
	width:350px;
	height:25px;
}
.ContainerPhoneNumber
{
	width:350px;
	height:25px;
}
.ContainerAddress
{
	width:350px;
	height:25px;
}
.ContainerPassword
{
	width:350px;
	height:25px;
}
.ContainerConfirmPassword
{
	width:350px;
	height:25px;
}
.ContainerSignup
{
	width:100px;
	height:35px;
	margin-left:250px;
	background-color:#cc0066;
	border:none;
	color:white;
}
