@charset "ISO-8859-1";

.SubMainContainer{
      border:3px solid gray;
      height:450px;
      width:350px;	
     margin-top:100px;
     background-color:gray;
     opacity: 0.5;
}
.ContainerHeadingName{
     color:#011015;
}
.ContainerField{
     margin-top:10px; 	
}
.ContainerFirstname{
	height:30px;
      width:250px;	
      border-radius: 10px 10px;
}
.ContainerEmailId{
	height:30px;
      width:250px;
      border-radius: 10px 10px;	
}
.ContainerPhoneNumber{
	height:30px;
      width:250px;	
      border-radius: 10px 10px;
}
.ContainerAddress{
	height:30px;
      width:250px;	
      border-radius: 10px 10px;
}
.ContainerPassword{
	height:30px;
      width:250px;	
      border-radius: 10px 10px;
}
.ContainerConfirmPassword{
	height:30px;
      width:250px;
      border-radius: 10px 10px;	
}
.ContainerSignup{
	height:40px;
      width:250px;
      background-color:#011015;
      border:none;
      color:white;
}